* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background-image {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  height: 80vh;
  background-size: cover;
  padding: 100px;
  width: 30%;
}
.unorder {
  display: flex;
  flex-wrap: wrap;
}
.size2 {
  width: 30%;
}
.size3 {
  height: 200px;
  margin-top: 30px;
}
